<!DOCTYPE html>
<html lang="en">

<head>

    <% include templates/head.ejs%>

</head>
<body>

<div class="center">


    <br>
    ------ Der Ableitungsrechner ------
    <br>


    <br>
    Gin die Funktion an.
    <br>
    <br>
    <input type="text" id="mathterm" ><button onclick="weg()"><-</button>
    <br>
    <div class="buttons">
        <button class="mathbutton" onclick="add(this)">+</button>
        <button class="mathbutton" onclick="add(this)">-</button>
        <button class="mathbutton" onclick="add(this)">*</button>
        <button class="mathbutton" onclick="add(this)">/</button>
        <button class="mathbutton" onclick="add(this)">^</button>
        <button class="mathbutton" onclick="add(this)">x</button><br>
        <button class="mathbutton" onclick="add(this)">(</button>
        <button class="mathbutton" onclick="add(this)">)</button>
        <button class="mathbutton" onclick="add(this)">,</button>
        <button class="mathbutton smaller" onclick="add(this)">sin</button>
        <button class="mathbutton smaller" onclick="add(this)">cos</button>
        <button class="mathbutton smaller" onclick="add(this)">tan</button>

        <br>


    </div>
    <button onclick="calculate()" class="calculate ">ABLEITEN</button>
    <br>
    <br>
    <input type="text" id="result" class="center">
    <br>
    <br><br>
    <div class="check">
        Du hast eine andere Funktion raus? Überprüfe <button><a onclick="check()" style="color: #3260bc">hier</a></button> ob deine Funktion mit der Lösung übereinstimmt
    </div>

</div>
<script>

    var term ="";
    $(".check").hide();
    function calculate() {
        console.log("hasdasgdiasd");
        $.ajax({
            type: 'POST',
            url: '/calculate/ableiten',
            data: {"func":document.getElementById("mathterm").value +""},
            success: (data) => {

                document.getElementById("result").value = data;
                term = data.split(' ').join((""));
                $(".check").show();
            },
            error: (err) =>{
                console.log('Fehler aufgetreten: ', err);
            }
        });
    }



    $(".mathbutton").click(function(){
        $("#mathterm").focus();

    });

    function add(elem){
        document.getElementById("mathterm").value  += elem.innerText;
    }
    function check(){
        window.location = "/vergleicher?term="+term+""
    }

    function weg(){
        document.getElementById("mathterm").value = document.getElementById("mathterm").value.substring(0, document.getElementById("mathterm").value.length - 1);

    }
</script>

<a href="/impressum">Impressum</a>
</body>
</html>