
<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<body>
<div style="text-align: center">
    <div class="heading">
  Math_Helper
    </div>
    <br><br>
    <a href="/ableiten">Ableitungsrechner</a>
    <br> <br>
    <a href="/integration">Integralrechner</a>
    <br> <br>
    <a href="/nullstellen">Nullstellen</a>
    <br> <br>
    <a href="/flaeche">Fläche unter einer Funktion</a>
    <br> <br>
    <a href="/gleichungen">Gleichungen lösen</a>
    <br> <br>



    <a href="/vereinfacher">Termvereinfacher</a>

    <br> <br>
    <a href="/vergleicher">Termvergleicher</a>
    <br> <br>
    <a href="/scheitelpunktform">Scheitelpunktform</a>
<br><br><br><br>
    <button style="padding: 5px 20px" onclick="info()"><h2>Info</h2></button>


<h2 id="mobile"></h2>
<a href="/impressum">Impressum</a>

</body>
<script>
function info(){
    window.location = "/info";
}

if(window.innerWidth > 500){
    document.getElementById("mobile").innerText = "Eine Desktopversion wird bald kommen!";
}
</script>

</html>