
<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<body>
<div style="text-align: center">

    <h2>Wie benutze ich den Math_Helper</h2>
    <br>
    <div style="display: inline-block; ">
    <table>


        <tr>
            <th>
                 Plus
            </th>
            <th>
                +
            </th>
        </tr>
        <tr>
            <th>
                Minus
            </th>
            <th>
                -
            </th>
        </tr>
        <tr>
            <th>
               Mal
            </th>
            <th>
              *
            </th>
        </tr>
        <tr>
            <th>
               Geteilt
            </th>
            <th>
                /
            </th>
        </tr>
        <tr>
            <th>
                x²
            </th>
            <th>
                x^2
            </th>
        </tr>
        <tr>
            <th>
                wurzel von x&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </th>
            <th>
                x^(1/2)
            </th>
        </tr>
        <tr>
            <th>
                sin(x)
            </th>
            <th>
                sin(x)
            </th>
        </tr>
        <tr>
            <th>
                ln(x)
            </th>
            <th>
                log(x)
            </th>
        </tr>
        <tr>
            <th>
                Pi
            </th>
            <th>
                PI
            </th>
        </tr>
    </table>
    </div>
    <br><br><br>
    falls ich etwas vergessen habe segt es mir bitte und ich werde es hinzufügen
</div>
<a href="/impressum">Impressum</a>
</body>
<script>

</script>

</html>