<!DOCTYPE html>
<html lang="en">

<head>
    <% include templates/head.ejs%>

</head>
<body>

<div class="center">


    <br>
    ------ Rekonstruktion ------
    <br>

    <br>

    <br>
    <br>
    <input type="text" class="matrix">a
    <input type="text" class="matrix">b
    <input type="text" class="matrix">c =
    <input type="text" class="matrix"><br><br>

    <input type="text" class="matrix">a
    <input type="text" class="matrix">b
    <input type="text" class="matrix">c =
    <input type="text" class="matrix"><br><br>

    <input type="text" class="matrix">a
    <input type="text" class="matrix">b
    <input type="text" class="matrix">c =
    <input type="text" class="matrix"><br><br>




    <br><br>
    <button onclick="calculate()" class="calculate ">LÖSEN</button>
    <br>
    <br><br>
    Lösung:<br>
    <input type="text" id="result" class="center"><br><br>

    <br><br><br>

    <a href="/impressum">Impressum</a>
</div>
<script>
    var term ="";
    $(".check").hide();


    function calculate() {

        $.ajax({
            type: 'POST',
            url: '/calculate/rekonstruieren',
            data: {},
            success: (data) => {

                document.getElementById("result").value = data;



            },
            error: (err) =>{
                console.log('Fehler aufgetreten: ', err);
            }
        });
    }


</script>

</body>
</html>